name: CI-CD
on:
  push:
    branches: ['master', 'main', 'develop']
  workflow_dispatch:

jobs:
  CI:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
      security-events: write
      actions: read

    steps:
      - name: Obtendo o código fonte
        uses: actions/checkout@v4.1.2

      - name: Setup Node.js environment
        uses: actions/setup-node@v4.0.2
        with:
          node-version: 20.x

      - name: Instalação de dependencias
        run: yarn install
        working-directory: .

      - name: Execução de Teste Unitário
        run: yarn vitest run --coverage
        working-directory: .
