name: CI Pipeline

on:
  push:
    branches:
     [ main ]
  # pull_request:
  #   branches:
  #      [ main ]

jobs:
    CI: 
      runs-on: ubuntu-latest

      steps:
        - name: Setup Node.js environment
          uses: actions/setup-node@v4.2.0
          with:
            node-version: 16.13.2
            cache: 'npm'
  
        - name: Install dependencies
          run: npm ci
  
        - name: Run tests
          run: npm test
